body {
  background-color: #E2E9E9;
}
label {
  color: #3B3F3F;
  padding: 5px;
}
.container {
  padding-top: 20px;
}
.header {
  width: 500px;
  background-color: #2C7374;
  color: #fff;
  padding: 5px 20px;
}
#feed-news,
#feed-business,
#feed-health,
#feed-technology {
  display: none;
  background-color: #fff;
  width: 500px;
  color: #3B3F3F;
  padding: 5px 20px;
}
#feed-news p,
#feed-business p,
#feed-health p,
#feed-technology p {
  padding-top: 5px;
}
#feed-news a,
#feed-business a,
#feed-health a,
#feed-technology a {
  color: inherit;
  text-decoration: none;
}
#feed-news i,
#feed-business i,
#feed-health i,
#feed-technology i {
  font-weight: bold;
}
.news-category {
  background-color: #fff;
  width: 500px;
  padding: 15px;
}
.chosen-category {
  overflow: hidden;
}
